:root {
  --black: #202020;
  --semi-black: #303030;
  --total-black: #000000;
  --pearl-opal: #073042;
  --green: #3ddc84;
  --gray: #dadada;
  --gray-1: #8B8B8B;
  --gray-2: #272727;
  --gray-3: #424242;
  --white: #ffffff;
  --hover-opacity: 0.6;
  --offset: 70px;
  --offset-s: 30px;
  --offset-xs: 14px;
}
