.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--pearl-opal);
  min-height: 560px;
  height: 100%;
}

.promo__headline {
  margin: 0;
  padding: 47px var(--offset);
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  max-width: 626px;
  color: var(--white);
}

.promo__image-wrapper {
  align-self: end;
}

.promo__image {
  max-width: 722px;
  height: auto;
  margin-bottom: 63px;
  margin-right: var(--offset);
}

@media screen and (max-width: 1023px) {
  .promo {
    align-items: center;
  }

  .promo__headline {
    padding: 297px 0 140px 0;
    text-align: center;
  }

  .promo__image-wrapper {
    align-self: center;
  }

  .promo__image {
    max-width: 680px;
    margin-right: 0;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    padding-bottom: 40px;
  }
  
  .promo__headline {
    font-size: 31px;
    line-height: 39px;
    padding: 180px 0 60px 0;
  }

  .promo__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 230px;
  }

  .promo__image-wrapper .promo__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 230px;
    object-fit: cover;
  }
}
