.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid var(--gray-3);
}

.search-form__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-4);
  border-radius: 40px;
  height: 46px;
  max-width: 1140px;
  width: 100%;
  padding-right: 8px;
  margin-top: 57px;
  margin-bottom: 42px;
}

.search-form__label {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.search-form__input {
  height: 46px;
  min-height: 100%;
  width: calc(100% - 24px);
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  background-color: transparent;
  color: var(--gray-1);
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 24px;
}

.search-form__input:focus {
  outline: 0px var(--gray-4) solid;
  outline-offset: 2px;
  box-shadow: 0 0 16px var(--blue);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  transition: 0.1s ease-in-out;
  border-radius: 40px;
}

.search-form__button {
  border: none;
  background: url('../../images/search.svg') no-repeat center center;
  background-color: var(--blue);
  border-radius: 48px;
  width: 89px;
  height: 34px;
}

.search-form__button:focus {
  outline: 1px var(--blue) solid;
  outline-offset: 2px;
  box-shadow: 0 0 12px var(--blue);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  transition: 0.1s ease-in-out;
}

.search-form__valid-text {
  margin: 0 0 42px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--pink);
}

.checkbox__container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox {
  display: flex;
}

.checkbox__input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkbox__label {
  cursor: pointer;
  text-indent: -9999px;
  width: 36px;
  height: 20px;
  background: var(--gray-1);
  display: block;
  border-radius: 20px;
  position: relative;
}

.checkbox__label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: var(--green);
  border-radius: 16px;
  transition: 0.3s;
  opacity: var(--hover-opacity);
}

.checkbox__input:checked + .checkbox__label {
  background: var(--transparent-black);
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.checkbox__input:checked + .checkbox__label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: var(--green);
  opacity: 1;
}

.checkbox__label:active:after {
  width: 20px;
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 1023px) {
  .form {
    margin: 0 30px;
    padding-bottom: 50px;
  }

  .search-form__container {
    max-width: 704px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 767px) {
  .form {
    margin: 0 15px;
    padding-bottom: 50px;
  }

  .search-form__container {
    max-width: 286px;
    margin-top: 70px;
  }

  .search-form__button {
    width: 100px;
  }

  .search-form__input {
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    padding-left: 18px;
  }

  .checkbox__text {
    font-size: 11px;
    line-height: 18px;
  }
}
