.about {
    padding: 110px var(--offset);
  }
  
  .about__headline {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
  }
  
  .about__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .about__steps {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
  }
  
  .about__item {
    max-width: 550px;
  }
  
  .about__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.06em;
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
  }
  
  .about__subtitle {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  
  .about__time {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
  }
  
  .about__time-item {
    width: 100%;
  }
  
  .about__time-item:first-child {
    flex-basis: 25%;
  }
  
  .about__time-period {
    margin: 0;
    padding: 0;
    padding-left: 7px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    font-weight: 400;
    font-size: 14px;
    background-color: var(--semi-black);
  }
  
  .about__time-period-bright {
    background-color: var(--green);
    color: var(--total-black);
  }
  
  .about__time-description {
    margin: 0;
    padding: 0;
    margin-top: 14px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-1);
  }
  
  @media screen and (max-width: 1023px) {
    .about {
      padding: 88px 50px;
    }
  
    .about__subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
  
    .about__steps {
      gap: 38px;
    }
  
    .about__time {
      margin-top: 88px;
    }
  
    .about__time-item:first-child {
      flex-basis: 27%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .about {
      padding: 70px 18px;
    }
  
    .about__headline {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.04em;
    }
  
    .about__headline {
      padding-bottom: 27px;
    }
  
    .about__steps {
      margin-top: 60px;
      flex-flow: column;
      gap: 58px;
    }
  
    .about__title {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.04em;
      margin-bottom: 15px;
    }
  
    .about__subtitle {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
    }
  
    .about__time-period {
      padding-left: 0;
      font-size: 11px;
      line-height: 35px;
      height: 35px;
    }
  
    .about__time {
      margin-top: 60px;
    }
  
    .about__time-description {
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      margin-top: 10px;
    }
  
    .about__time-item:first-child {
      flex-basis: 54%;
    }
  }
  