.footer {
  padding: 184px var(--offset);
  padding-bottom: 0;
}

.footer__name {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--gray-1);
}

.footer__name {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-3);
}

.footer__wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer__year {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--white);
}

.footer__links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--white);
}

.footer__link:hover,
.footer__link:focus {
  cursor: pointer;
  opacity: var(--hover-opacity);
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 152px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 130px;
  }

  .footer__name {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__wrapper {
    padding: 30px 0;
    flex-flow: column-reverse;
    align-items: center;
  }

  .footer__links {
    flex-flow: column;
    gap: 8px;
    text-align: center;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__year {
    font-size: 12px;
    line-height: 15px;
    margin-top: 30px;
    color: var(--gray-1);
  }
}
