.form__submit {
  margin: 0;
  padding: 0;
  align-self: center;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 3px;
  border-color: var(--blue);
}

@media screen and (max-width: 767px) {
  .form__submit {
    font-size: 12px;
    line-height: 15px;
  }
}
