.form__submit {
  margin: 0;
  padding: 0;
  align-self: center;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  background-color: transparent;
  border: none;
  width: 100%;
}

.form__submit:hover {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.form__submit_type_primary {
  background-color: var(--blue);
  border-radius: 3px;
  height: 45px;
}

.form__submit_type_primary:hover {
  outline: 0px var(--gray-4) solid;
  outline-offset: 2px;
  box-shadow: 0 0 10px var(--blue);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.form__submit_type_secondary {
  font-size: 13px;
  line-height: 16px;
}

.form__submit_type_secondary:hover {
  cursor: pointer;
  text-shadow: 0 0 3px var(--white), 0 0 9px var(--pink), 0 0 18px var(--pink);
}

@media screen and (max-width: 767px) {
  .form__submit {
    font-size: 12px;
    line-height: 15px;
  }
}
